div{
	display: block;
}

#header { 
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: #fafafa;
	z-index: 10;
}





.title {
	position: absolute;
	font-weight: 400;
	color: black;
	font-size: 15px;
	top: 45%;
	font-family: "Montserrat", sans-serif;
	margin-left: 45%;
	letter-spacing: 2px;
	font-weight: 900;
	font-weight: bolder;
	text-transform: uppercase;
}
.title2 {
	position: absolute;
	font-weight: 400;
	color: black;
	font-size: 15px;
	font-family: "Montserrat", sans-serif;
	margin-left: 45%;
	font-weight: 900;
	font-weight: bolder;
	text-transform: uppercase;
}


#box1 { 
	position: absolute; 
	top: 100px;
	right: 0;
	left: 0;
	height: 470px;
	background: #342d4f;
	text-align: center;
	display: inline-block;
}

img {
	height: 399px;
	width: 800px;

}

#box2 { 
	position: absolute; 
	height: 700px;
	top: 570px;
	right: 0;
	left: 0;
	background: #eeb5bd;
	text-align: center;
}

#welcome {
	position: relative;
	margin-top: 0;
	font-weight: 400;
	color: black;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 2px;
	font-weight: 900;
	font-weight: bolder;
	text-transform: uppercase;
}


#box2_1 { 
	position: absolute; 
	height: 450px;
	top:100px;
	right: 200px;
	left: 200px;
	background: #5c5c5c;
	text-align: center;
    font-family: 'Monaco', 'Courier New';
    text-align: left;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 30px;
	color: #fafafa;
	padding: 40px;
	border-radius: 10px;

}

#box3 { 
	position: absolute; 
	height: 1000px;
	top: 1270px;
	right: 0;
	left: 0;
	background: #dbe4ee;	

}

#box3_1 { 
	position: absolute; 
	height: 200px;
	top:80px;
	left: 500px;
	right: 500px;
	background: #5c5c5c;
	text-align: center;
    font-family: 'Monaco', 'Courier New';
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 30px;
	background-image: url("https://41z6h24c86pu1h3m6x151ecm-wpengine.netdna-ssl.com/wp-content/uploads/2019/12/Baby-Yoda-photo-disney.jpg") ;
	background-position-y: center;
	background-position-x: center;
	background-size: contain;
	padding: 40px;
	border-radius: 10px;
}


#btn {
	position: absolute;
	text-align: center;
    font-family: 'Monaco', 'Courier New';
	font-size: 13px;
	top: 40%;
	left: 49%;
	right:49%;
	
}

a:hover {
	cursor: pointer;
}

#theImage { 
	
}

#showImage {
	background-color: blue;
}
