div{
	display: block;
}

#box1 { 
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: #fafafa;
	text-transform: uppercase;
}

#box2 { 
	position: absolute; 
	top: 100px;
	right: 0;
	left: 0;
	height: 470px;
	background: #b1e0df;
}

#box3 { 
	position: absolute; 
	height: 500px;
	top: 570px;
	right: 0;
	left: 0;
	background: #eeb5bd;
}

img {
	position: absolute;
	top: 15%;
	left: 22%;
	padding: 0;
	height: 399px;
	width: 800px;
}

#box4 { 
	position: absolute; 
	height: 500px;
	top: 1070px;
	right: 0;
	left: 0;
	background: #6d5070;
}



#name {
	position: absolute;
	font-weight: 400;
	color: black;
	font-size: 15px;
	top: 45%;
	font-family: "Montserrat", sans-serif;
	margin-left: 45%;
	letter-spacing: 2px;
	font-weight: 900;
	font-weight: bolder;
}